<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />

<style>       
    #hBar{
        height: 3px;
        background-color: #E6E6E6;
        border: none;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/@octokit/core@6.1.2/dist-src/version.min.js"></script>
<script type="module">
  import { Octokit } from "https://esm.sh/@octokit/rest";
</script>
<script>
    
        function getQueryParameter(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }
        
        function redirectToLogin() {
            const originalUrl = window.location.href;
            const encodedUrl = encodeURIComponent(originalUrl);
            window.location.href = `http://10.157.136.215:8082/login?redirect_uri=${encodedUrl}`;
        }
    
        async function fetchProtectedContent(filePath) {
            const token = localStorage.getItem('authToken');
            console.log("Token Loaded");
            if (!token) {
                console.log("Token not found");
                redirectToLogin()
                return;
            }
            console.log("Token found");
            
            const octokit = new Octokit({
                auth: token
            })
            const response = await octokit.request('GET /repos/{owner}/{repo}/contents/{path}', {
                owner: 'CasperBresdahlRegionH',
                repo: 'Dokumentation_intern',
                path: `blob/main/${filePath}`,
                headers: {
                    'X-GitHub-Api-Version': '2022-11-28'
                }
            })
            //const response = await fetch(`https://api.github.com/repos/CasperBresdahlRegionH/Dokumentation_intern/contents/blob/main/${filePath}`, {
               // headers: {
                 //   'Authorization': `Bearer ${token}`
                //}
            //});

            console.log(response);
            if (response.ok) {
                const content = await response.json();
                const fileContent = atob(content.content); // Decode base64 content
                document.getElementById('protected-content').innerText = fileContent;
            } else {
                document.getElementById('protected-content').innerText = 'You do not have access to this content.';
            }
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            console.log("Page loaded");
            const token = getQueryParameter('token');
            console.log(token);
            if (token) {
                console.log("Token Set");
                localStorage.setItem('authToken', token);
            }
            // Example usage: fetch a specific file's content
            const filePath = 'PythonLeverancer.xlsx'; // Update this path as needed
            fetchProtectedContent(filePath);
        });
    </script>

<body class="line-numbers">
<body class="copy-to-clipboard">
